<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">

<!-- initialize bootstrap for pretty UI elements -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- initialize the fancier bootstrap buttons and elements -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<!-- Header -->
<head>
  <title>Registration</title>
</head>

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Placeholder Airlines</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample09"
            aria-controls="navbarsExample09"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/flights">Flights</a></li>
        <li class="nav-item" th:unless="${session.username}"><a class="nav-link" href="/login">Log In</a></li>
        <li class="nav-item" th:if="${session.username}"><a class="nav-link" href="/logout">Log Out</a></li>
        <li class="nav-item" th:unless="${session.username}"><a class="nav-link active" aria-current="page" href="/register">Register</a></li>      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

<!-- Body -->
<body class="bg-primary-subtle">

<!-- Jumbotron header to grab attention: text, circle border, text header, subtitle, in that order. -->
<div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"
     style="background-image: url('/assets/photos/pexels-photograph-14158322.jpg');
                background-size: cover;
                background-position: right;">  <svg class="bi mt-5 mb-3" width="48" height="48" aria-hidden="true">
    <use xlink:href="#check2-circle"></use>
  </svg>
  <h1 class="text-body-emphasis">Registration</h1>
  <p class="col-lg-6 mx-auto mb-4">
    Create a new user account.
  </p>
</div>

<!-- Registration form -->
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <!-- if there's an error: let the user know -->
      <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
      </div>
      <form th:action="@{/register}" method="post">
        <!-- Row 1/Card Title -->
        <div class="row g-3">
          <h4>Registration Information</h4>
        </div>
        <!-- Row 2 -->
        <div class="row g-3">
          <!-- Easy text fields with little suggestions for now. smart forms may be implemented later -->
          <div class="col-md mb-2">
            <label for="username" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Username"
                   required>
          </div>
        </div>
          <!-- Skipping email for brevity's sake; the form can easily be adjusted to meet organizational requirements -->
        <!-- Row 2 -->
        <div class="row g-3">
          <div class="col-md-6 mb-3">
            <!-- Password forms & confirmation. type="password" to keep password entry private -->
            <label for="password" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Password"
                   required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="passConfirm" class="form-label">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   id="passConfirm"
                   name="passConfirm"
                   placeholder="Confirm Password"
                   required>
          </div>
        </div>
        <!-- Row 3 -->
        <div class="row g-3">
          <!-- Register Button: use D-flex to push the button down and keep things level -->
          <div class="col-md-4 d-flex align-items-end mt-3">
            <button type="submit"
                    class="btn btn-primary w-100">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>